.app {
  height: 100vh;
}

.app .header {
  background: #00B3AD;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .header p {
  color: white;
  text-transform: uppercase;
}

.app .mode {
  text-align: center;
}

.app .mode .bgColor {
  background: #F9783D;
  color: black;
  border: 1px solid #F9783D;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

.app .mode .bgColor:focus {
  outline: none;
}

.app .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .components .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .components .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .components .task {
  width: 300px;
  height: 150px;
  background-color: #4C4C4C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.app .components .task p {
  color: white;
}

.app .components .task button {
  background: #57CEB5;
  color: black;
  border: 1px solid #57CEB5;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

.app .components .task button:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */