.app
    height: 100vh
    .header
        background: #00B3AD
        padding: 10px 5px
        display: flex
        justify-content: flex-start
        align-items: center
        p
            color: white
            text-transform: uppercase
    .mode
        text-align: center

        .bgColor
            background: #F9783D
            color: black
            border: 1px solid #F9783D
            margin-top: 20px
            padding: 10px 10px
            border-radius: 5px
            &:focus
                outline: none
    .components
        display: flex
        justify-content: space-between
        .create
            display: flex
            flex-direction: column
        .page
            display: flex
            flex-direction: column

            
        .task
            width: 300px
            height: 150px
            background-color: #4C4C4C
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            border-radius: 5px
            p
                color: white
            button
                background: #57CEB5
                color: black
                border: 1px solid #57CEB5
                margin-top: 20px
                padding: 10px 10px
                border-radius: 5px
                &:focus
                    outline: none

            

        